modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5003
externalPort = 3002

[[ports]]
localPort = 5004
externalPort = 3003

[env]
PORT = "5000"

[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["javascript_openai_ai_integrations:2.0.0"]
expertMode = true

[userenv]

[userenv.shared]
TREASURY_WALLET_ADDRESS = "0xD55dDb0f19DAc37cDb3c5c50d8A89EB177ecc6e0"
SKYNT_CONTRACT_ADDRESS = "0x22d3f06afB69e5FCFAa98C20009510dD11aF2517"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
